{% extends "base.html" %}

{% block title %}Panel Admin{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="admin-panel">

    <header class="admin-header">
        <h1>Bienvenido, Admin 👋</h1>
        <p>Panel de administración · YGM Arcadia's</p>
    </header>

    <nav class="admin-nav">
        <a href="{{url_for('productos_view')}}">💪productos personales</a>
        <a href="{{ url_for('bebidas_view') }}">🫗Bebidas y Scups</a>
        <a href="{{ url_for('mensualidades') }}">📆 Mensualidades</a>
        <a href="{{ url_for('visitas') }}">🚶 Visitas</a>
    </nav>

    <div class="admin-actions">
        <a href="/logout" class="logout-btn">Cerrar sesión</a>
    </div>

</div>
{% endblock %}
