{% extends "base.html" %}

{% block title %}Panel Admin{% endblock %}

{% block content %}
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1>Bienvenido, Admin 👋</h1>
<p>Panel de administración del sistema YGM Arcadia's</p>

<nav>
    <ul>
        <li><a href="/admin/usuarios">Usuarios</a></li>
        <li><a href="/admin/membresias">Membresías</a></li>
        <li><a href="/admin/pagos">Pagos</a></li>
        <li><a href="/admin/mensualidades.html"></a>Mensualidades</li>
        <li><a href="/admin/visitas.html"></a>Visitas</li>
    </ul>
</nav>

<hr>

<a href="/logout">Cerrar sesión</a>
{% endblock %}
