{% extends "base.html" %}

{% block title %}Panel Admin{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="fondo-inicio">

    <header class="container">
        <h1>Bienvenido, Admin 👋</h1>
        <p>Panel de administración · YGM Arcadia's</p>

        <div class="header-links">
            <a href="{{ url_for('productos_view') }}">💪 Productos personales</a>
            <a href="{{ url_for('bebidas_view') }}">🫗 Bebidas y Scups</a>
            <a href="{{ url_for('mensualidades') }}">📆 Mensualidades</a>
            <a href="{{ url_for('visitas') }}">🚶 Visitas</a>
        </div>

        <a href="/logout" class="logout-btn">Cerrar sesión</a>

        <footer class="footer1">
    © 2026 Alan Romero
</footer>


    </header>
        <!-- Footer -->

</div>
{% endblock %}
