<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YGM Arcadia's</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>BIENVENIDOS A YGM ARCADIA'S</h1>
        <p>Sistema de inventario</p>

        <a href="/login">
            <button>Iniciar sesión (Admin)</button>
        </a>
    </div>

</body>
</html>
